<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div id="login">
            <h1>LOGIN</h1>
            <label for="emailInput">Email: </label>
            <input type="email" id="emailInput">
            <br>
            <label for="passwordInput">Password:</label>
            <input type="password" id="passwordInput">
            <br>
            <button onclick="login()">Login</button>
        </div>
    </div>


    <%- include("setup_env"); %>
    
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/socket.io@4.7.1/client-dist/socket.io.min.js"></script>
    <script defer src="/assets/chat.js"></script>
    <script>
        let loggingIn = false;

        function login() {
            if (loggingIn) return;
            loggingIn = true;

            var emailInput = document.getElementById("emailInput");
            var passwordInput = document.getElementById("passwordInput");

            let email = emailInput.value;
            let password = passwordInput.value;

            if (!email || !password) {
                alert("You must fill in the email and password blanks.");
                return;
            }

            console.log("Logging in...");
            axios.post("/api/v1/auth/login", {
                email,
                password
            }).then((response) => {
                alert("You have logged in !");
                const accessToken = response.data.accessToken;
                chat(accessToken);
            }).catch((error) => {
                alert("Error: " + error);
                console.log(error.response.data.message);
            }).finally(() => {
                loggingIn = false;
            });
        }
    </script>
</body>
</html>